.homeBg{
    background-image:url(’…/assets/img/background.jpg’);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(0, 0, 0);
    }
    .item .item-content
    {
        background-color: transparent !important;
        color: transparent !important;
    }